.formulario {
    width: 50%;
    padding: 2% 0 2%;
    margin: auto;
    margin-top: 2% ;
    height: auto;
    background-color: rgba(255, 230, 230, 0.808);
  }
  div {
    width: 40%;
    margin: 2%;
  }
  .usern{
    width: 100%;
    padding: 0;
    margin-left: 0px;
    margin-top: 0px;

  }

  h2{
    text-align: center;
  }
  .div2 {
    width: 40%;
    margin-left: 8%;
  }

  .boton{
    width: 82%;
    margin: auto;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
  }
 .text-danger,h2,label{
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 }