/* You can add global styles to this file, and also import other style files */
body{
    background: url(./app/assets/spider.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0;
    margin-bottom: 125px;
    
    }
    html {
        min-height: 100%;
        position: relative;
      }